# local .terraform directories
**/.terraform/*

# tf state files
*.tfstate
*.tfstate.*

# tf variables files, may include sensitive data
*.tfvars

# Ignore CLI config files
.terraformrc
terraform.rc

# Ignore Mac/OSX system files
.DS_Store

# Ignore crash log files
crash.log
